.Results section {
    background-color: azure;
    border: 3px solid azure;
    border-radius: 20px;
    margin: 20px 200px;
    padding: 30px
}

h2 {
    color: rgb(36, 60, 197);
}

.phonetic {
    color: rgb(0, 14, 93);
    opacity: 0.9;
}
